@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #222831;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: white;
    cursor: pointer;
  }
  
.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2.5px;
  bottom: 0;
  left: 0;
  background-color: #00ADB5;
  transform-origin: bottom right;
  transition: transform 0.2s ease-out;
  border-radius: 5px;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.btn-motion {
    @apply duration-200 ease-in-out
}

.btn-accent {
    @apply py-3 px-8 bg-accent hover:bg-[#007C82] btn-motion text-light rounded-xl 
}

.btn-secondary {
    @apply py-3 px-8 bg-secondary hover:bg-[#31363D] btn-motion text-light rounded-xl
}

.input {
  @apply bg-secondary rounded-xl py-2 px-4 outline-none placeholder:text-gray-500
}